body {
    background: #352f5b;
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
  }
  
  .container {
    max-width: 400px;
  }
  
  input[type="text"] {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    max-width: 400px;
    outline: none; /* Remove the default outline */
    box-shadow: none; /* Remove any box-shadow which might cause the white line */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for the outline */
  }
  
  input[type="text"]:focus {
    box-shadow: 0 0 0 5px rgba(28, 32, 145, 0.2); /* Use box-shadow to create the outline */
  }
  .todos li {
    background: #423a6f;
    color: #fff;
  }

  .todoitem:hover{
    transform: scale(1.1); /* Slightly enlarge the icon */
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  
  .delete:focus, .delete:hover, .microphone:focus, .microphone:hover {
    cursor: pointer;
    transform: scale(1.1); /* Slightly enlarge the icon */
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
  
  .filtered {
    display: none !important;
  }

  .btn{
    margin: 5%;
  }
  
  .btn:hover {
    background: #423a6f;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 13px 13px;
    transition: 0.8s;
  }
  